################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/MemeService/.vs/MemeService
/MemeService/MemeService/obj
/MemeService/MemeService/bin/Debug/netcoreapp3.1
